@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gift Ideas - GBox</title>
    <link rel="stylesheet" href="~/css/email.css">
    <link rel="stylesheet" href="~/css/index.css">
    <style>
        .submit-btn {
            background-color: #027f51;
            color: #fff;
            border: none;
            padding: 15px;
            font-size: 16px;
            width: 100%;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .submit-btn:hover {
            background-color: #00a86b;
        }

    </style>
</head>
<body>
    <div class="container">
        <div class="left-section">
            <h2>Chúc mừng Ngày Phụ Nữ Việt Nam 20/10!</h2>
            <p>
                Mở blindbox, chia sẽ thông tin email để nhận thêm nhiều ưu đãi dành riêng cho bạn!
            </p>
            <form asp-action="SubmitSubscription" method="post">
                <input type="email" name="email" placeholder="name@example.com" required />
                <button class="submit-btn" type="submit">Nhận cập nhật</button>
            </form>
        </div>
        <div class="right-section">
            <img src="https://www.marthastewart.com/thmb/tAHqnIOp0JVZMi83PYGuKn-fT0o=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/small-trees-with-big-curb-appeal-kousa-dogwood-getty-0623-c5285e307c884bdab6a0a7edb816e30c.jpg"
                 alt="Gift Ideas Plant" />
        </div>
    </div>


    <script>
        function scrollUp() {
          window.scrollBy(0, -200);
        }

        function scrollDown() {
          window.scrollBy(0, 200);
        }
    </script>
</body>
</html>
