body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f9;
    color: #2c3e50;
    display: flex;
    height: 173vh;
}

.sidebar {
    width: 250px;
    background-color: #2f3640;
    color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 40px;
}

    .sidebar-header h2 {
        margin: 0;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

    .sidebar ul li {
        margin: 20px 0;
    }

        .sidebar ul li a {
            color: #dcdde1;
            text-decoration: none;
            display: flex;
            align-items: center;
            padding: 10px;
            transition: background-color 0.3s;
            border-radius: 5px;
        }

            .sidebar ul li a:hover,
            .sidebar ul li a.active {
                background-color: #4b6584;
            }

            .sidebar ul li a i {
                margin-right: 15px;
            }

.main-content {
    padding: 40px;
    background-color: #f4f7fc;
    flex: 1;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
}

.topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

    .topbar input[type="search"] {
        padding: 10px;
        width: 300px;
        border-radius: 25px;
        border: 1px solid #ccc;
        font-size: 16px;
    }

.topbar-icons {
    display: flex;
    align-items: center;
}

    .topbar-icons a {
        color: #34495e;
        margin-left: 20px;
        position: relative;
        font-size: 20px;
    }

.badge {
    background-color: #e74c3c;
    color: white;
    border-radius: 50%;
    padding: 5px 7px;
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: 12px;
}

@media (max-width: 768px) {
    .sidebar {
        width: 100px;
    }

    .main-content {
        margin-left: 100px;
        padding: 20px;
    }

    .topbar input[type="search"] {
        width: 200px;
    }

    .user-table th,
    .user-table td,
    .product-table th,
    .product-table td {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 60px;
    }

    .main-content {
        margin-left: 60px;
        padding: 10px;
    }

    .sidebar-header h2 {
        font-size: 18px;
    }

    .topbar input[type="search"] {
        width: 100px;
    }

    .user-management,
    .product-management {
        padding: 10px;
    }

    .user-table th,
    .user-table td,
    .product-table th,
    .product-table td {
        padding: 8px;
    }
}
