body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
    margin: 100px auto;
    padding: 20px;
    width: 60%;
    background: white;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.success-message {
    padding: 20px;
}

.success-image {
    width: 150px;
    height: auto;
}

h2 {
    color: #4CAF50;
    margin: 20px 0;
}

p {
    color: #666;
    line-height: 1.5;
}

.buttons {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: center;
}

.btn {
    background-color: #47CACC;
    color: white;
    border: none;
    padding: 12px 24px;
    margin: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

    .btn:hover {
        background-color: #027f51;
    }

.home {
    background-color: #0daa70;
}

.service {
    background-color: #008C8C;
}

    .service:hover {
        background-color: #006868;
    }

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

    .header h1 {
        font-size: 28px;
        font-weight: bold;
        color: #333;
    }

    .header .profile {
        display: flex;
        align-items: center;
    }

.profile img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.profile span {
    margin-left: 10px;
    font-size: 16px;
    color: #555;
}