@using BlindBoxWebsite.Models;
@model ErrorViewModel
@{
    Layout = null;
}

<div class="container" style="justify-content: center">
    <h1>Lỗi @Model.StatusCode</h1>
    <p>@Model.Message</p>
</div>
