<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlindBoxWebsite</title>
    <meta data-n-head="ssr" name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
    <meta data-n-head="ssr" data-hid="og:site_name" property="og:site_name" content="The Sill">
    <meta data-n-head="ssr" data-hid="charset" charset="utf-8">
    <meta data-n-head="ssr" data-hid="mobile-web-app-capable" name="mobile-web-app-capable" content="yes">
    <meta data-n-head="ssr" data-hid="og:type" property="og:type" content="website">
    <meta data-n-head="ssr" data-hid="og:title" property="og:title" content="The GBOX | Find Your Gift">
    <title>The GBOX | Find Your Gift </title>
    <link data-n-head="ssr" data-hid="icon" rel="icon" type="image/x-icon" href="favicon.ico">
    <link data-n-head="ssr" data-hid="apple-touch-icon" rel="icon" type="image/x-icon" href="favicon.ico">
    <link data-n-head="ssr" data-hid="shortcut-icon" rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link data-n-head="ssr" rel="preconnect" href="https://cdn.sanity.io/">
    <link data-n-head="ssr" rel="preconnect" href="https://cdn.shopify.com/">
    <link data-n-head="ssr" rel="preconnect" href="https://dev.visualwebsiteoptimizer.com/">
    <link data-n-head="ssr" rel="manifest" href="_nuxt/manifest.6f68f20d.json" data-hid="manifest">
    <link data-n-head="ssr" rel="canonical" href="index.html">
    <link rel="preload" href="_nuxt/f801be2.js" as="script">
    <link rel="preload" href="_nuxt/427a9c6.js" as="script">
    <link rel="preload" href="_nuxt/90acc8a.js" as="script">
    <link rel="preload" href="_nuxt/4610eef.js" as="script">
    <link rel="preload" href="_nuxt/d13b74b.js" as="script">
    <link rel="preload" href="_nuxt/d26c58b.js" as="script">
    <link rel="preload" href="_nuxt/62e9387.js" as="script">
    <link rel="preload" href="_nuxt/static/1725635075/state.js" as="script">
    <link rel="preload" href="_nuxt/static/1725635075/payload.js" as="script">
    <link rel="preload" href="_nuxt/static/1725635075/manifest.js" as="script">
    <link rel="stylesheet" href="~/css/index.css"  />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlindBoxWebsite.styles.css" asp-append-version="true" />
</head>
<body>
    <div>
        <!-- Start Header -->
        <div role="navigation" aria-label="main navigation" class="relative" data-v-4d831b9f>
            <div class="flex items-center px-[17px] py-4 laptop:py-6 laptop:px-10 m-auto main-nav__header h-[60px] md:h-[84px]" data-v-4d831b9f>
                <div class="main-nav__brand" data-v-4d831b9f><a asp-controller="Home" asp-action="Index" aria-current="page" class="nuxt-link-exact-active nuxt-link-active" data-v-4d831b9f><img src="https://cdn.sanity.io/images/y346iw48/production/1af82117dcf52d35da53ba107d273d4e32d36c05-182x36.svg?w=182&amp;h=36&amp;auto=format" width="182" height="36" alt="The Sill Logo" class="w-auto h-6 md:h-9" data-v-4d831b9f></a></div>
                <div class="flex flex-grow justify-end pl-4 2xl:pl-20" data-v-4d831b9f>
                    <a href="tel:8889742079" class="inline-flex flex-row items-center mr-4 sm:mr-11 header--phone-number" data-v-1ebb7b0c data-v-4d831b9f>
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#2D2A24" data-v-1ebb7b0c>
                            <path d="M757.23-160q-101.15 0-207.38-50.65-106.23-50.66-197.39-142.2-91.15-91.53-141.81-197.38Q160-656.08 160-757.23q0-18.33 12-30.55Q184-800 202-800h98.92q16.31 0 28.46 10.27 12.16 10.27 16.47 26.35L365.69-668q2.77 16.77-1 29.31t-13.31 20.54l-87.76 81.84q24.61 44.69 54.42 83.04 29.81 38.35 63.58 72.65 34.84 34.85 75 64.81 40.15 29.96 88.15 56.58l85.54-87.08q9.77-10.54 21.96-13.88 12.19-3.35 26.96-1.35l84.15 17.23q16.31 4 26.47 16.43Q800-315.46 800-299.38V-202q0 18-12.22 30t-30.55 12ZM244.85-573.85l76.77-70.61q3.84-3.08 5-8.46 1.15-5.39-.39-10l-17.77-84.77q-1.54-6.16-5.38-9.23-3.85-3.08-10-3.08H211q-4.62 0-7.69 3.08-3.08 3.07-3.08 7.69 1.15 41 12.85 85.61 11.69 44.62 31.77 89.77Zm338 333.39q40.53 20.08 86.42 29.69 45.88 9.62 79.96 10.31 4.62 0 7.69-3.08 3.08-3.08 3.08-7.69v-80.31q0-6.15-3.08-10-3.07-3.84-9.23-5.38l-74-15.16q-4.61-1.54-8.07-.38-3.47 1.15-7.31 5l-75.46 77Zm-338-333.39Zm338 333.39Z" data-v-1ebb7b0c></path>
                        </svg>
                        <div class="flex flex-col items-start ml-1 lg:ml-2" data-v-1ebb7b0c><span class="text-xs font-medium hidden lg:block" data-v-1ebb7b0c>Need Order Help?</span> <span class="hidden lg:inline text-xs text-left italic text-secondary-grayText" data-v-1ebb7b0c> (888) 974-2079 </span> <span class="text-xs text-left lg:hidden" data-v-1ebb7b0c> Call Us </span></div>
                    </a> <button class="inline-flex flex-row items-center mr-4 sm:mr-11" data-v-4d831b9f>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M23.2875 21.375L16.725 16.05C17.925 14.475 18.6 12.5625 18.6 10.5375C18.6 8.10001 17.6625 5.85001 15.9375 4.12501C12.4125 0.600012 6.67505 0.600012 3.11255 4.12501C1.42505 5.81251 0.487549 8.10001 0.487549 10.5C0.487549 12.9375 1.42505 15.1875 3.15005 16.9125C4.91255 18.675 7.23755 19.575 9.56255 19.575C11.85 19.575 14.1 18.7125 15.8625 17.025L22.5 22.3875C22.6125 22.5 22.7625 22.5375 22.9125 22.5375C23.1 22.5375 23.2875 22.4625 23.4375 22.3125C23.625 22.0125 23.5875 21.6 23.2875 21.375ZM4.05005 16.0125C2.58755 14.55 1.80005 12.6 1.80005 10.5C1.80005 8.40001 2.58755 6.48751 4.08755 5.02501C5.58755 3.52501 7.57505 2.77501 9.56255 2.77501C11.55 2.77501 13.5375 3.52501 15.0375 5.02501C16.5 6.48751 17.325 8.43751 17.325 10.5C17.325 12.5625 16.4625 14.55 15 16.0125C12 19.0125 7.08755 19.0125 4.05005 16.0125Z" fill="#2D2A24"></path>
                        </svg>
                        <div class="flex flex-col items-start ml-1 lg:ml-2"><span class="text-xs font-medium hidden lg:block">Find Product</span> <span class="hidden lg:inline text-xs text-left italic text-secondary-grayText"> Quick Search </span> <span class="text-xs text-left lg:hidden"> Search </span></div>
                    </button> <button aria-label="My Account" class="mr-2 sm:mr-11" data-v-4d831b9f>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="laptop:hidden">
                            <path d="M12 13.65C15.075 13.65 17.5875 11.1375 17.5875 8.0625C17.5875 4.9875 15.075 2.4375 12 2.4375C8.92498 2.4375 6.41248 4.95 6.41248 8.025C6.41248 11.1 8.92498 13.65 12 13.65ZM12 3.75C14.3625 3.75 16.275 5.6625 16.275 8.025C16.275 10.3875 14.3625 12.3 12 12.3C9.63748 12.3 7.72498 10.3875 7.72498 8.025C7.72498 5.7 9.63748 3.75 12 3.75Z" fill="#2D2A24"></path>
                            <path d="M23.2875 20.4C20.175 17.7375 16.1625 16.275 12 16.275C7.83746 16.275 3.82496 17.7375 0.712456 20.4C0.412456 20.625 0.374956 21.0375 0.637456 21.3375C0.862456 21.6 1.27496 21.6375 1.57496 21.4125C4.46246 18.975 8.17496 17.625 12.0375 17.625C15.9 17.625 19.6125 18.975 22.5 21.4125C22.6125 21.525 22.7625 21.5625 22.9125 21.5625C23.1 21.5625 23.2875 21.4875 23.4 21.3375C23.625 21.0375 23.5875 20.625 23.2875 20.4Z" fill="#2D2A24"></path>
                        </svg>
                        <div class="hidden laptop:flex flex-col items-start laptop:ml-2">
                        @if (ViewBag.IsUserLoggedIn == true)
                        {
                            <a href="/Account/Logout" onclick="document.getElementById('logoutForm').submit();" class="text-xs font-medium">
                                <span class="text-xs font-medium">Hello, Log Out</span> 
                            </a>
                        }
                        else
                        {
                            <a href="/Account/SignIn" class="text-xs font-medium">
                                <span class="text-xs font-medium">Hello, Sign In</span> 
                            </a>
                        }
                        <form id="logoutForm" method="post" action="/Account/Logout" style="display: none;">
                            <button type="submit" id="logoutButton" style="display: none">Logout</button>
                        </form>
                        </div>
                    </button> <button class="inline-flex flex-row items-center" data-v-5b51f19e data-v-4d831b9f>
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" data-v-5b51f19e>
                            <path d="M21.4875 7.38749H20.3625L17.8125 0.899993C17.6625 0.562493 17.2875 0.412493 16.95 0.524993C16.6125 0.674993 16.4625 1.04999 16.575 1.38749L18.9375 7.42499H5.02505L7.38755 1.38749C7.53755 1.04999 7.35005 0.674993 7.01255 0.524993C6.67505 0.374993 6.30005 0.562493 6.15005 0.899993L3.60005 7.38749H2.47505C1.91255 7.38749 1.42505 7.83749 1.42505 8.43749V11.625C1.42505 12.1875 1.87505 12.675 2.47505 12.675H2.51255L3.48755 21.225C3.63755 22.5375 4.76255 23.55 6.11255 23.55H17.8125C19.1625 23.55 20.2875 22.5375 20.4375 21.225L21.4125 12.675H21.4501C22.0126 12.675 22.5 12.225 22.5 11.625V8.43749C22.5375 7.87499 22.0875 7.38749 21.4875 7.38749ZM2.77505 8.69999H21.225V11.325H2.77505V8.69999ZM19.1625 21.0375C19.0875 21.7125 18.525 22.2 17.85 22.2H6.15005C5.47505 22.2 4.91255 21.7125 4.83755 21.0375L3.86255 12.6375H20.1376L19.1625 21.0375Z" fill="#2D2A24"></path>
                            <path d="M8.06257 19.05C8.43757 19.05 8.73757 18.75 8.73757 18.375V15.4875C8.73757 15.1125 8.43757 14.8125 8.06257 14.8125C7.68757 14.8125 7.38757 15.1125 7.38757 15.4875V18.375C7.38757 18.75 7.68757 19.05 8.06257 19.05Z" fill="#2D2A24"></path>
                            <path d="M15.9376 19.05C16.3126 19.05 16.6126 18.75 16.6126 18.375V15.4875C16.6126 15.1125 16.3126 14.8125 15.9376 14.8125C15.5626 14.8125 15.2626 15.1125 15.2626 15.4875V18.375C15.3001 18.75 15.6001 19.05 15.9376 19.05Z" fill="#2D2A24"></path>
                        </svg> <span class="sr-only" data-v-5b51f19e>Cart</span> <span class="ml-1 cart-count" data-v-5b51f19e> (0) </span>
                    </button>
                </div>
            </div>
            <span class="w-2 h-2 rounded-full bg-primary block absolute top-1 xl:top-2 right-1" data-v-99190054></span></a>
        </div>
        <!-- End Header -->

        <div class="container">
            @RenderBody()
        </div>

        <!-- Start Footer -->
        <div class="global-footer mt-10 bg-common-gray" data-v-96956a1a>
        <div class="sill-container p-6 pt-12" data-v-a017c6c6 data-v-96956a1a>
            <div class="border-b border-secondary-gray pb-12" data-v-a017c6c6>
                <div class="callout-item w-full md:w-2/3 flex items-center max-w-4xl" data-v-a017c6c6>
                    <img src="https://cdn.sanity.io/images/y346iw48/production/3b9b853d690d2e53c7efa578010145dfc1b08ca4-338x338.webp?auto=format" alt="Visit Us In A Store Near You" loading="lazy" class="image mr-5 md:mr-10 w-[120px] md:w-[168px]" data-v-a017c6c6>
                    <div data-v-a017c6c6>
                        <h4 class="text-2xl md:text-4xl font-medium mb-3" data-v-a017c6c6> Visit Us In A Store Near You </h4>
                        <p class="mb-3 hidden md:block" data-v-a017c6c6>Our stores around the US are open for plant shopping, repotting, curbside pickup, in-person workshops, and more.</p> <a href="locations" class="sill-link gap-2 flex items-center p-0 font-medium text-black hover:text-primary-text text-base md:text-xl hoverable" data-v-165cf929 data-v-a017c6c6>
                            <!---->
                            <div class="flex gap-4 items-center" data-v-165cf929> <span class="sill-link_span text-inherit" data-v-165cf929> Find Your Local Store </span></div>
                            <div data-v-165cf929>
                                <div class="m-1 ch-svg-container ch-default-transition arrow text-inherit h-5 w-5 ch-svg-container-solid" data-v-165cf929>
                                    <?xml version="1.0" encoding="utf-8" ?>
                                    <svg version="1.1" id="lni_lni-arrow-right" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 64 64" style="enable-background:new 0 0 64 64" xml:space="preserve">
                                    <path d="M61.5,28.5l-6.9-8.2c-0.6-0.7-1.7-0.8-2.5-0.2c-0.7,0.6-0.8,1.7-0.2,2.5l6.5,7.7H3c-1,0-1.8,0.8-1.8,1.8
	c0,1,0.8,1.8,1.8,1.8h55.4l-6.5,7.7c-0.6,0.7-0.5,1.8,0.2,2.5c0.3,0.3,0.7,0.4,1.1,0.4c0.5,0,1-0.2,1.3-0.6l6.9-8.2
	C63.2,33.5,63.2,30.5,61.5,28.5z" />
                                    </svg>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="sill-container p-6 pt-2 md:pt-12" data-v-96956a1a>
            <div class="flex flex-col md:flex-row-reverse justify-between mb-20">
                <div class="w-full md:w-1/3 mb-10 md:mb-0 max-w-xl">
                    <div class="footer-phone-number pb-6 border-b border-secondary-gray desktop:hidden mb-6">
                        <h4 class="text-2xl md:text-4xl font-medium mb-3">Need help with your order? <a href="tel:8889742079" class="text-2xl md:text-4xl font-medium underline">(888) 974-2079</a></h4>
                    </div>
                    <div class="email mb-10">
                        <h4 class="text-4xl font-medium mb-3">Get the Dirt.</h4>
                        <p class="mb-8">Get plant care tips, exclusive offers, & event invites straight to your inbox. No spam, ever.</p> <input placeholder="Enter your email here..." class="appearance-none p-4 border w-full p-3 mb-3" data-v-18144d64> <button type="button" class="capitalize text-center sill-btn appearance-none w-full font-medium bg-primary-light hover:bg-primary text-white x-padding" data-v-2038032e> Subscribe </button>
                        <!---->
                        <!---->
                    </div>
                    <div class="socials flex flex-row">
                        <a target="_blank" href="https://www.facebook.com/TheSillNYC/" aria-label="facebook Profile" class="text-black hover:text-primary inline-block mr-6">
                            <svg width="9" height="18" viewBox="0 0 9 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_406_3126)">
                                    <path d="M5.4798 18H1.8266V9.00441H0V5.90005H1.8266V4.0392C1.8266 1.50808 2.85677 0 5.79145 0H8.22403V3.10436H6.70042C5.56637 3.10436 5.48846 3.5365 5.48846 4.34787V5.90005H8.25L7.9297 9.00441H5.4798V18Z" fill="currentColor" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_406_3126">
                                        <rect width="8.25" height="18" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a><a target="_blank" href="https://twitter.com/thesill" aria-label="twitter Profile" class="text-black hover:text-primary inline-block mr-6">
                            <svg width="19" height="18" viewBox="0 0 19 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_406_3128)">
                                    <path d="M18.2416 3.27394C17.5649 3.57799 16.8486 3.77984 16.1151 3.87317C16.8857 3.39665 17.4623 2.65199 17.7393 1.77584C17.0143 2.2212 16.2178 2.53134 15.3867 2.69182C14.8801 2.14087 14.2236 1.7578 13.502 1.59203C12.7804 1.42625 12.0268 1.48539 11.3383 1.7618C10.6499 2.03821 10.0583 2.51921 9.63977 3.14275C9.22128 3.76629 8.99511 4.50375 8.99047 5.25998C8.99224 5.54781 9.0231 5.83469 9.08256 6.11603C7.61258 6.03923 6.17478 5.64747 4.86233 4.96616C3.54989 4.28484 2.39209 3.32917 1.46395 2.16107C1.1128 2.74243 0.927243 3.41244 0.92814 4.09575C0.931467 4.72133 1.0861 5.33635 1.37825 5.886C1.6704 6.43566 2.09099 6.90288 2.60256 7.24603C2.0157 7.22777 1.44161 7.06634 0.92814 6.7752V6.818C0.927235 7.69215 1.22304 8.53953 1.76506 9.21553C2.30708 9.89153 3.06174 10.3542 3.90023 10.5247C3.58182 10.6181 3.25194 10.6642 2.9207 10.6617C2.68752 10.6605 2.45492 10.6376 2.22581 10.5932C2.46168 11.3455 2.92194 12.0035 3.54204 12.4748C4.16213 12.9461 4.91096 13.2072 5.68349 13.2213C4.37136 14.2708 2.75311 14.8404 1.08721 14.8392C0.807423 14.838 0.527921 14.8209 0.25 14.7879C1.93919 15.9035 3.90697 16.4979 5.91791 16.5C7.30029 16.5034 8.66962 16.2265 9.94669 15.6854C11.2238 15.1442 12.3832 14.3495 13.358 13.3472C14.3327 12.345 15.1035 11.155 15.6256 9.84619C16.1477 8.53738 16.4108 7.13571 16.3998 5.72225C16.3998 5.5596 16.3998 5.39695 16.3998 5.2343C17.1226 4.69505 17.7486 4.03178 18.25 3.27394" fill="currentColor" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_406_3128">
                                        <rect width="18" height="18" fill="white" transform="translate(0.25)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a><a target="_blank" href="https://www.instagram.com/thesill/" aria-label="instagram Profile" class="text-black hover:text-primary inline-block mr-6">
                            <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_406_3130)">
                                    <path d="M11.8327 2.28612C12.3545 2.28927 12.8716 2.38492 13.36 2.56862C13.7203 2.70005 14.0463 2.91132 14.3134 3.1866C14.5867 3.45195 14.7977 3.77456 14.9314 4.13122C15.1287 4.62038 15.2393 5.1402 15.258 5.66734C15.258 6.55016 15.3022 6.79735 15.3022 8.99559C15.3022 11.1938 15.3022 11.4587 15.258 12.3327C15.2549 12.8545 15.1592 13.3716 14.9755 13.86C14.839 14.2178 14.6285 14.5427 14.3577 14.8135C14.0869 15.0843 13.7619 15.2949 13.4041 15.4314C12.9157 15.6151 12.3986 15.7107 11.8768 15.7139C10.994 15.7139 10.7468 15.758 8.53973 15.758C6.33266 15.758 6.0325 15.758 5.16734 15.758C4.64282 15.7533 4.12308 15.6578 3.63122 15.4755C3.27456 15.3418 2.95195 15.1308 2.6866 14.8575C2.41132 14.5904 2.20005 14.2645 2.06862 13.9041C1.88492 13.4157 1.78927 12.8986 1.78612 12.3768C1.74197 11.494 1.73315 11.2468 1.73315 9.03973C1.73315 6.83266 1.73315 6.57665 1.78612 5.71148C1.79079 5.18696 1.88638 4.66722 2.06862 4.17536C2.2023 3.8187 2.41335 3.49609 2.6866 3.23074C2.95195 2.95749 3.27456 2.74644 3.63122 2.61276C4.12308 2.43052 4.64282 2.33493 5.16734 2.33026C6.05016 2.28612 8.49559 2.27729 8.49559 2.27729C8.49559 2.27729 11.3731 2.25826 11.8327 2.28612ZM5.09671 0.802969C4.41199 0.814788 3.7343 0.987303 3.0927 1.22673C2.54812 1.42302 2.05156 1.733 1.63604 2.13604C1.21709 2.54731 0.891861 3.04418 0.682584 3.5927C0.443162 4.2343 0.314788 4.91199 0.302969 5.59671C0.25 6.47953 0.25 6.76204 0.25 8.99559C0.25 11.2291 0.25 11.5205 0.302969 12.4033C0.313705 13.0852 0.44213 13.7602 0.682584 14.3985C0.889464 14.9508 1.21492 15.451 1.63604 15.864C2.04731 16.2829 2.54418 16.6081 3.0927 16.8174C3.7343 17.0568 4.41199 17.1852 5.09671 17.197C5.97953 17.2412 6.26204 17.25 8.49559 17.25C10.7291 17.25 11.0205 17.25 11.9033 17.197C12.5852 17.1863 13.2602 17.0579 13.8985 16.8174C14.4482 16.6054 14.9474 16.2807 15.3641 15.8641C15.7807 15.4474 16.1054 14.9482 16.3174 14.3985C16.5579 13.7602 16.6863 13.0852 16.697 12.4033C16.7412 11.5205 16.75 11.238 16.75 8.99559C16.75 6.75321 16.75 6.47953 16.697 5.59671C16.6852 4.91199 16.5568 4.2343 16.3174 3.5927C16.1081 3.04418 15.7829 2.54731 15.364 2.13604C14.951 1.71492 14.4508 1.38946 13.8985 1.18258C13.2602 0.94213 12.5852 0.813705 11.9033 0.802969C11.0205 0.75 8.49559 0.75 8.49559 0.75" fill="currentColor" />
                                    <path d="M8.49537 4.76688C7.65688 4.76688 6.83724 5.01564 6.14019 5.48166C5.44313 5.94768 4.9 6.61002 4.57953 7.38484C4.25906 8.15967 4.17566 9.01216 4.33989 9.8344C4.50411 10.6566 4.90858 11.4117 5.50209 12.004C6.09561 12.5963 6.8515 12.9991 7.67408 13.1617C8.49667 13.3242 9.34898 13.239 10.1231 12.9169C10.8973 12.5948 11.5585 12.0503 12.0231 11.3523C12.4876 10.6543 12.7347 9.8341 12.7329 8.99561C12.7341 8.43922 12.6252 7.88808 12.4126 7.37392C12.1999 6.85977 11.8877 6.39274 11.4938 5.99972C11.1 5.60669 10.6323 5.29544 10.1177 5.08386C9.60312 4.87228 9.05176 4.76455 8.49537 4.76688ZM8.49537 11.75C7.95059 11.75 7.41806 11.5885 6.96509 11.2858C6.51213 10.9832 6.15909 10.553 5.95062 10.0497C5.74214 9.54638 5.6876 8.99256 5.79388 8.45825C5.90016 7.92395 6.16249 7.43316 6.5477 7.04795C6.93291 6.66274 7.4237 6.40041 7.95801 6.29413C8.49231 6.18785 9.04613 6.24239 9.54943 6.45087C10.0527 6.65934 10.4829 7.01238 10.7856 7.46534C11.0882 7.9183 11.2498 8.45084 11.2498 8.99561C11.2498 9.72613 10.9596 10.4267 10.443 10.9433C9.92648 11.4598 9.22588 11.75 8.49537 11.75Z" fill="currentColor" />
                                    <path d="M13.8896 4.59909C13.8879 4.79427 13.8284 4.98456 13.7187 5.14599C13.609 5.30743 13.454 5.43279 13.2731 5.50627C13.0923 5.57976 12.8938 5.59808 12.7026 5.55894C12.5114 5.5198 12.336 5.42494 12.1986 5.28631C12.0612 5.14769 11.9679 4.9715 11.9305 4.77994C11.893 4.58838 11.9131 4.39003 11.9882 4.20987C12.0633 4.02971 12.19 3.87581 12.3524 3.76754C12.5148 3.65928 12.7057 3.60151 12.9008 3.6015C13.0314 3.6015 13.1607 3.62736 13.2813 3.6776C13.4018 3.72784 13.5112 3.80147 13.6031 3.89422C13.6951 3.98697 13.7677 4.09701 13.8169 4.218C13.866 4.33898 13.8908 4.46851 13.8896 4.59909Z" fill="currentColor" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_406_3130">
                                        <rect width="16.5" height="18" fill="white" transform="translate(0.25)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a><a target="_blank" href="https://www.pinterest.com/thesillnyc/" aria-label="pinterest Profile" class="text-black hover:text-primary inline-block mr-6">
                            <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_406_3137)">
                                    <path d="M6.38449 11.9047C5.90434 14.3794 5.31641 16.7193 3.58199 18C3.04305 14.2542 4.37571 11.4425 4.98324 8.4574C3.90536 6.74339 5.08123 3.22871 7.29579 4.08571C10.0199 5.14493 4.93425 10.5373 8.35408 11.2114C11.7739 11.8854 13.3711 5.14493 11.1566 2.93983C7.96212 -0.247453 1.86718 2.89169 2.6217 7.41744C2.79808 8.53443 3.97395 8.87146 3.08225 10.4121C1.04407 9.96919 0.436532 8.38037 0.505124 6.27156C0.625473 4.68298 1.31446 3.18763 2.4499 2.0507C3.58534 0.913776 5.09383 0.208757 6.70786 0.0606829C10.5588 -0.363005 14.1649 1.4473 14.6646 5.01012C15.2329 9.02553 12.9302 13.3683 8.78523 13.0506C7.69755 12.9735 7.237 12.4247 6.38449 11.9047Z" fill="currentColor" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_406_3137">
                                        <rect width="14.25" height="18" fill="white" transform="translate(0.5)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a><a target="_blank" href="https://www.youtube.com/thesill" aria-label="youtube Profile" class="text-black hover:text-primary inline-block mr-6">
                            <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M19.4417 2.57812C19.2568 1.54724 18.3759 0.796509 17.3536 0.562134C15.8238 0.234375 12.9926 0 9.92931 0C6.86786 0 3.9913 0.234375 2.45967 0.562134C1.43919 0.796509 0.556462 1.49963 0.371579 2.57812C0.184883 3.75 0 5.39062 0 7.5C0 9.60938 0.184883 11.25 0.416893 12.4219C0.603589 13.4528 1.4845 14.2035 2.50499 14.4379C4.12906 14.7656 6.91318 15 9.97644 15C13.0397 15 15.8238 14.7656 17.4479 14.4379C18.4684 14.2035 19.3493 13.5004 19.536 12.4219C19.7209 11.25 19.9529 9.56177 20 7.5C19.9057 5.39062 19.6737 3.75 19.4417 2.57812ZM7.42432 10.7812V4.21875L13.085 7.5L7.42432 10.7812Z" fill="currentColor" />
                            </svg>
                        </a><a target="_blank" href="" aria-label="tiktok Profile" class="text-black hover:text-primary inline-block mr-6">
                            <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_406_3135)">
                                    <path d="M5.95739 17.9925C5.6017 17.9452 5.24953 17.875 4.90312 17.7823C3.84255 17.5161 2.88717 16.9414 2.16061 16.1325C1.43406 15.3236 0.96977 14.3177 0.827828 13.245C0.704058 12.5147 0.728106 11.7673 0.89858 11.0462C1.06905 10.3251 1.38256 9.64467 1.82095 9.04423C2.25933 8.44379 2.81387 7.93533 3.45243 7.54831C4.091 7.16129 4.8009 6.90339 5.541 6.78957C6.10453 6.70196 6.67845 6.70196 7.24199 6.78957C7.33944 6.78957 7.38374 6.78957 7.38374 6.93848C7.38374 7.98081 7.38374 9.01439 7.38374 10.048C7.00279 10.048 6.62184 9.97789 6.24974 9.99541C5.64017 10.0501 5.07144 10.3218 4.64936 10.7601C4.22728 11.1983 3.98059 11.7733 3.95517 12.3779C3.92044 12.9628 4.08848 13.5419 4.43156 14.0197C4.77464 14.4974 5.27224 14.8452 5.84221 15.0056C6.47249 15.1585 7.13756 15.0781 7.71202 14.7796C8.28648 14.4811 8.73063 13.9851 8.9607 13.3852C9.01388 13.197 9.04071 13.0025 9.04043 12.8071C9.04043 12.1852 9.04043 11.5545 9.04043 10.9326C9.04043 7.35892 9.04043 3.78811 9.04043 0.22023C9.03609 0.144378 9.03609 0.0683444 9.04043 -0.00750732H11.9906C11.9906 0.228989 11.9906 0.456726 12.0703 0.693223C12.1665 1.43517 12.4646 2.1374 12.9326 2.7251C13.4007 3.3128 14.0212 3.76394 14.7281 4.03045C15.2863 4.24067 15.871 4.35454 16.5 4.52096V7.4903C14.9117 7.45846 13.3692 6.95825 12.0703 6.05381V6.2903C12.0703 8.28738 12.0703 10.2786 12.0703 12.264C12.072 12.6581 12.0334 13.0513 11.9552 13.4377C11.7571 14.4919 11.2542 15.4666 10.5073 16.2439C9.7604 17.0212 8.80159 17.5677 7.74697 17.8173C7.42563 17.8912 7.10025 17.9468 6.77244 17.9837L5.95739 17.9925Z" fill="currentColor" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_406_3135">
                                        <rect width="15.75" height="18" fill="white" transform="translate(0.75)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a><a target="_blank" href="https://www.linkedin.com/company/the-sill/" aria-label="linkedin Profile" class="text-black hover:text-primary inline-block mr-6">
                            <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_406_3139)">
                                    <path d="M10.4461 6.05868H6.6696V17.1759H10.4461V10.7557C10.4466 10.4657 10.5109 10.1793 10.6343 9.91681C10.7578 9.65429 10.9374 9.42201 11.1606 9.23635C11.3816 9.03326 11.6513 8.89058 11.9438 8.82213C12.2362 8.75368 12.5414 8.76178 12.8297 8.84564C13.1181 8.9295 13.3799 9.08628 13.5898 9.30081C13.7997 9.51533 13.9505 9.78033 14.0277 10.0701C14.1294 10.4475 14.1762 10.8375 14.1669 11.2282V17.1481H17.9527V10.7094C17.9617 10.084 17.8836 9.46043 17.7207 8.85651C17.5174 8.00268 17.0499 7.23447 16.3846 6.66086C15.6284 6.04546 14.6784 5.71725 13.703 5.73442C13.0796 5.70369 12.4588 5.83321 11.8999 6.11059C11.3411 6.38797 10.8628 6.80392 10.511 7.31863L10.4461 7.38348V6.05868ZM4.75815 17.1759V6.05868H1.0466V17.1759H4.75815ZM2.90238 4.72461C3.13435 4.72461 3.36632 4.66902 3.58901 4.61344C3.9793 4.51746 4.32782 4.29756 4.58216 3.98681C4.83651 3.67605 4.98293 3.29125 4.9994 2.89027C5.02948 2.51338 4.94677 2.13606 4.76174 1.80619C4.57672 1.47631 4.29773 1.20873 3.96017 1.0374C3.46477 0.795542 2.90053 0.733311 2.3642 0.861378C2.02517 0.91256 1.70697 1.05652 1.44491 1.27729C1.18285 1.49806 0.987167 1.78701 0.879583 2.11206C0.75148 2.43613 0.717482 2.78969 0.78149 3.13218C0.845499 3.47466 1.00492 3.79218 1.24146 4.04831C1.45266 4.26502 1.70729 4.43479 1.9887 4.54654C2.2701 4.65829 2.57196 4.7095 2.87454 4.69682L2.90238 4.72461Z" fill="currentColor" />
                                    <path d="M10.4464 6.05866V7.43904L10.5114 7.37419C10.8673 6.85251 11.353 6.43218 11.9207 6.15445C12.4884 5.87672 13.1187 5.75112 13.7497 5.78999C14.7251 5.77282 15.6751 6.10102 16.4313 6.71643C17.0966 7.29003 17.5641 8.05825 17.7674 8.91208C17.9303 9.516 18.0084 10.1396 17.9994 10.7649V17.25H14.1672V11.2282C14.1766 10.8375 14.1297 10.4475 14.0281 10.0701C13.9509 9.78031 13.8 9.51531 13.5901 9.30079C13.3802 9.08627 13.1184 8.92948 12.8301 8.84562C12.5417 8.76176 12.2365 8.75366 11.9441 8.82211C11.6517 8.89056 11.3819 9.03324 11.1609 9.23633C10.9378 9.42199 10.7581 9.65427 10.6347 9.91679C10.5112 10.1793 10.447 10.4657 10.4464 10.7557V17.1481H6.66992V6.03086L10.4464 6.05866Z" fill="currentColor" />
                                    <path d="M4.75745 17.1481H1.0459V6.03088H4.75745V17.1481Z" fill="currentColor" />
                                    <path d="M2.87454 4.69681C2.5685 4.70359 2.26454 4.64511 1.98293 4.5253C1.70132 4.40548 1.44854 4.22708 1.24146 4.00199C1.00492 3.74586 0.845499 3.42833 0.78149 3.08585C0.717482 2.74337 0.75148 2.38981 0.879583 2.06574C0.987167 1.74068 1.18285 1.45174 1.44491 1.23097C1.70697 1.0102 2.02517 0.866234 2.3642 0.815053C2.90053 0.686985 3.46477 0.749217 3.96017 0.991075C4.3056 1.16537 4.58991 1.44025 4.77547 1.77938C4.96104 2.1185 5.03912 2.50587 4.9994 2.89027C4.97435 3.29261 4.81856 3.67583 4.55567 3.98179C4.29277 4.28774 3.9371 4.49975 3.54262 4.58564C3.33848 4.64123 3.10651 4.65976 2.87454 4.69681Z" fill="currentColor" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_406_3139">
                                        <rect width="17.25" height="18" fill="white" transform="translate(0.75)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="nav-link-container w-2/3 hidden md:flex flex-row max-w-4xl">
                    <div class="w-full">
                        <div class="linklist-block" data-v-0b16f792>
                            <!----> <span class="block mb-5 font-medium text-sm xl:text-base" data-v-0b16f792> Customer Service </span> <a href="pages/faq" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> FAQ </a><a href="pages/shipping-and-handling" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> Shipping & Handling </a><a href="pages/guarantee" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> 30-Day Guarantee </a><a href="pages/contact" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> Contact Us </a>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="linklist-block" data-v-0b16f792>
                            <!----> <span class="block mb-5 font-medium text-sm xl:text-base" data-v-0b16f792> Resources </span> <a href="https://thesill.typeform.com/find-your-plant" target="_blank" rel="noopener noreferrer nofollow" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> Find Your Plant 🌱 </a><a href="pages/care-library" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> Plant Care Library </a><a href="blog" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> Blog </a><a href="courses/404.html" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> Free Online Course </a>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="linklist-block" data-v-0b16f792>
                            <!----> <span class="block mb-5 font-medium text-sm xl:text-base" data-v-0b16f792> My Sill </span> <a href="account" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> My Account </a><a href="categories/workshops-and-events" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> Workshops </a><a href="account/orders" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> Track My Order </a><a href="https://returns.thesill.com/" target="_blank" rel="noopener noreferrer nofollow" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> Returns Portal </a>
                        </div>
                    </div>
                    <div class="w-full">
                        <div class="linklist-block" data-v-0b16f792>
                            <!----> <span class="block mb-5 font-medium text-sm xl:text-base" data-v-0b16f792> Explore </span> <a href="pages/about-us" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> Our Story </a><a href="locations" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> Locations </a><a href="pages/careers" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> Careers </a><a href="pages/corporate-gifting" class="block hover:text-primary text-sm xl:text-base font-light mb-4" data-v-0b16f792> Corporate Gifting </a>
                        </div>
                    </div>
                </div>
                <div class="block md:hidden w-full">
                    <div>
                        <div class="transition block md:hidden border-b py-1">
                            <div class="transition">
                                <div class="accordion-header cursor-pointer transition flex gap-4 items-center justify-between h-16">
                                    <span class="select-none py4 text-[18px] font-medium">
                                        <!----> Customer Service
                                        <!---->
                                    </span>
                                    <div class="m-1 ch-svg-container ch-default-transition text-black h-3 w-3 ch-svg-container-solid">
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.4371 5.68126H6.33711V0.562506C6.33711 0.375006 6.18711 0.225006 5.99961 0.225006C5.81211 0.225006 5.68086 0.375006 5.68086 0.562506V5.68126H0.562109C0.374609 5.68126 0.224609 5.83126 0.224609 6.01876C0.224609 6.20626 0.374609 6.33751 0.562109 6.33751H5.68086V11.4375C5.68086 11.625 5.83086 11.775 6.01836 11.775C6.20586 11.775 6.35586 11.625 6.35586 11.4375V6.33751H11.4371C11.6246 6.33751 11.7746 6.18751 11.7746 6.00001C11.7746 5.81251 11.6246 5.68126 11.4371 5.68126Z" fill="#2D2A24" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="accordion-content pt-0 hidden">
                                    <div><a href="pages/faq" class="block mb-4 hover:text-primary hover:italic select-none"> FAQ </a><a href="pages/shipping-and-handling" class="block mb-4 hover:text-primary hover:italic select-none"> Shipping & Handling </a><a href="pages/guarantee" class="block mb-4 hover:text-primary hover:italic select-none"> 30-Day Guarantee </a><a href="pages/contact" class="block mb-4 hover:text-primary hover:italic select-none"> Contact Us </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="transition block md:hidden border-b py-1">
                            <div class="transition">
                                <div class="accordion-header cursor-pointer transition flex gap-4 items-center justify-between h-16">
                                    <span class="select-none py4 text-[18px] font-medium">
                                        <!----> Resources
                                        <!---->
                                    </span>
                                    <div class="m-1 ch-svg-container ch-default-transition text-black h-3 w-3 ch-svg-container-solid">
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.4371 5.68126H6.33711V0.562506C6.33711 0.375006 6.18711 0.225006 5.99961 0.225006C5.81211 0.225006 5.68086 0.375006 5.68086 0.562506V5.68126H0.562109C0.374609 5.68126 0.224609 5.83126 0.224609 6.01876C0.224609 6.20626 0.374609 6.33751 0.562109 6.33751H5.68086V11.4375C5.68086 11.625 5.83086 11.775 6.01836 11.775C6.20586 11.775 6.35586 11.625 6.35586 11.4375V6.33751H11.4371C11.6246 6.33751 11.7746 6.18751 11.7746 6.00001C11.7746 5.81251 11.6246 5.68126 11.4371 5.68126Z" fill="#2D2A24" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="accordion-content pt-0 hidden">
                                    <div><a href="https://thesill.typeform.com/find-your-plant" target="_blank" rel="noopener noreferrer nofollow" class="block mb-4 hover:text-primary hover:italic select-none"> Find Your Plant 🌱 </a><a href="pages/care-library" class="block mb-4 hover:text-primary hover:italic select-none"> Plant Care Library </a><a href="blog" class="block mb-4 hover:text-primary hover:italic select-none"> Blog </a><a href="courses/404.html" class="block mb-4 hover:text-primary hover:italic select-none"> Free Online Course </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="transition block md:hidden border-b py-1">
                            <div class="transition">
                                <div class="accordion-header cursor-pointer transition flex gap-4 items-center justify-between h-16">
                                    <span class="select-none py4 text-[18px] font-medium">
                                        <!----> My Sill
                                        <!---->
                                    </span>
                                    <div class="m-1 ch-svg-container ch-default-transition text-black h-3 w-3 ch-svg-container-solid">
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.4371 5.68126H6.33711V0.562506C6.33711 0.375006 6.18711 0.225006 5.99961 0.225006C5.81211 0.225006 5.68086 0.375006 5.68086 0.562506V5.68126H0.562109C0.374609 5.68126 0.224609 5.83126 0.224609 6.01876C0.224609 6.20626 0.374609 6.33751 0.562109 6.33751H5.68086V11.4375C5.68086 11.625 5.83086 11.775 6.01836 11.775C6.20586 11.775 6.35586 11.625 6.35586 11.4375V6.33751H11.4371C11.6246 6.33751 11.7746 6.18751 11.7746 6.00001C11.7746 5.81251 11.6246 5.68126 11.4371 5.68126Z" fill="#2D2A24" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="accordion-content pt-0 hidden">
                                    <div><a href="account" class="block mb-4 hover:text-primary hover:italic select-none"> My Account </a><a href="categories/workshops-and-events" class="block mb-4 hover:text-primary hover:italic select-none"> Workshops </a><a href="account/orders" class="block mb-4 hover:text-primary hover:italic select-none"> Track My Order </a><a href="https://returns.thesill.com/" target="_blank" rel="noopener noreferrer nofollow" class="block mb-4 hover:text-primary hover:italic select-none"> Returns Portal </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="transition block md:hidden border-b py-1">
                            <div class="transition">
                                <div class="accordion-header cursor-pointer transition flex gap-4 items-center justify-between h-16">
                                    <span class="select-none py4 text-[18px] font-medium">
                                        <!----> Explore
                                        <!---->
                                    </span>
                                    <div class="m-1 ch-svg-container ch-default-transition text-black h-3 w-3 ch-svg-container-solid">
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.4371 5.68126H6.33711V0.562506C6.33711 0.375006 6.18711 0.225006 5.99961 0.225006C5.81211 0.225006 5.68086 0.375006 5.68086 0.562506V5.68126H0.562109C0.374609 5.68126 0.224609 5.83126 0.224609 6.01876C0.224609 6.20626 0.374609 6.33751 0.562109 6.33751H5.68086V11.4375C5.68086 11.625 5.83086 11.775 6.01836 11.775C6.20586 11.775 6.35586 11.625 6.35586 11.4375V6.33751H11.4371C11.6246 6.33751 11.7746 6.18751 11.7746 6.00001C11.7746 5.81251 11.6246 5.68126 11.4371 5.68126Z" fill="#2D2A24" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="accordion-content pt-0 hidden">
                                    <div><a href="pages/about-us" class="block mb-4 hover:text-primary hover:italic select-none"> Our Story </a><a href="locations" class="block mb-4 hover:text-primary hover:italic select-none"> Locations </a><a href="pages/careers" class="block mb-4 hover:text-primary hover:italic select-none"> Careers </a><a href="pages/corporate-gifting" class="block mb-4 hover:text-primary hover:italic select-none"> Corporate Gifting </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="transition block md:hidden border-b py-1">
                            <div class="transition">
                                <div class="accordion-header cursor-pointer transition flex gap-4 items-center justify-between h-16">
                                    <span class="select-none py4 text-[18px] font-medium">
                                        <!----> Policies
                                        <!---->
                                    </span>
                                    <div class="m-1 ch-svg-container ch-default-transition text-black h-3 w-3 ch-svg-container-solid">
                                        <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M11.4371 5.68126H6.33711V0.562506C6.33711 0.375006 6.18711 0.225006 5.99961 0.225006C5.81211 0.225006 5.68086 0.375006 5.68086 0.562506V5.68126H0.562109C0.374609 5.68126 0.224609 5.83126 0.224609 6.01876C0.224609 6.20626 0.374609 6.33751 0.562109 6.33751H5.68086V11.4375C5.68086 11.625 5.83086 11.775 6.01836 11.775C6.20586 11.775 6.35586 11.625 6.35586 11.4375V6.33751H11.4371C11.6246 6.33751 11.7746 6.18751 11.7746 6.00001C11.7746 5.81251 11.6246 5.68126 11.4371 5.68126Z" fill="#2D2A24" />
                                        </svg>
                                    </div>
                                </div>
                                <div class="accordion-content pt-0 hidden">
                                    <div><a href="https://app.impact.com/campaign-campaign-info-v2/The-Sill.brand" target="_blank" rel="noopener noreferrer nofollow" class="block mb-4 hover:text-primary hover:italic select-none"> Affiliate Program </a><a href="pages/terms-conditions" class="block mb-4 hover:text-primary hover:italic select-none"> Terms of Use </a><a href="pages/privacy-policy" class="block mb-4 hover:text-primary hover:italic select-none"> Privacy Policy </a><a href="pages/accessibility" class="block mb-4 hover:text-primary hover:italic select-none"> Accessibility </a><a href="pages/ccpa-request" class="block mb-4 hover:text-primary hover:italic select-none"> Do Not Sell My Info </a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex justify-between border-b border-black pb-2 mb-5">
                <svg width="73" height="29" viewBox="0 0 73 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M7.945 3.49986H10.72V23.5749C10.72 26.0749 10.005 26.5749 8.17 27.7349V28.0699H19.17V27.7349C17.335 26.5749 16.585 26.0499 16.585 23.5749V3.49986H19.355C23.14 3.49986 24.565 6.49986 26.89 9.86986H27.34L26.2 1.60986C25.4613 1.7721 24.7062 1.84761 23.95 1.83486H3.41C2.6538 1.84761 1.8987 1.7721 1.16 1.60986L0 9.85486H0.45C2.735 6.49986 4.16 3.49986 7.945 3.49986Z" fill="#2D2A24"></path>
                    <path d="M31.4999 4.2V23.835C31.4999 26.31 31.0849 26.65 29.4999 27.735V28.07H39.1299V27.735C37.5149 26.65 37.1049 26.31 37.1049 23.835V18.215C37.1049 14.505 38.8299 12.82 40.9649 12.82C43.0999 12.82 43.9649 14.355 43.9649 16.415V23.835C43.9649 26.31 43.5499 26.65 41.9399 27.735V28.07H51.5699V27.735C49.9599 26.65 49.5699 26.31 49.5699 23.835V15.74C49.5699 12.03 47.7349 9.24 43.5399 9.24C40.5749 9.24 38.2899 11 37.1299 14.3V0H29.1299V0.34C30.6599 1.31 31.4999 1.835 31.4999 4.2Z" fill="#2D2A24"></path>
                    <path d="M63.4497 28.4452C67.7597 28.4452 70.7947 26.2752 71.8447 22.3752L71.0597 22.1152C69.7497 24.7352 67.9097 25.6752 65.3997 25.6752C61.8397 25.6752 59.7047 22.7502 59.7047 18.5152H72.2047C72.2047 12.7052 69.1697 9.22021 63.4747 9.22021C58.1147 9.22021 53.8047 13.0052 53.8047 18.8902C53.8197 25.1852 58.1297 28.4452 63.4497 28.4452ZM63.4497 10.8302C65.9997 10.8302 66.5597 13.7952 66.5997 16.8302H59.7797C59.9997 13.4202 61.0547 10.8302 63.4497 10.8302Z" fill="#2D2A24"></path>
                </svg> <svg width="55" height="29" viewBox="0 0 55 29" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.005 26.5349C6.00501 26.5349 3.41 23.7599 0.71 19.4499H0L0.525002 28.4499H1.085L2.735 26.1299C4.90679 27.5677 7.43661 28.3711 10.04 28.4499C15.54 28.4499 20.01 25.4499 20.01 20.1699C20.01 15.7449 17.465 13.7949 13.34 12.4849L9.78001 11.3999C6.89501 10.4999 5.62001 9.37486 5.62001 7.01486C5.62001 4.65486 7.49501 3.15486 10.08 3.15486C13.715 3.15486 15.7 5.58986 18.25 9.48486H18.75L18.635 1.48486H18.135L16.52 3.35986C14.5771 2.17179 12.352 1.52446 10.075 1.48486C4.23001 1.48486 0.445 4.55986 0.445 9.24486C0.445 13.3299 2.805 15.3899 7.37501 16.8549L10.875 17.9399C13.5 18.7249 14.925 19.9399 14.925 22.3249C14.915 24.9999 13.115 26.5349 10.005 26.5349Z" fill="#2D2A24"></path>
                    <path d="M28.1498 6.78517C28.5851 6.79864 29.0186 6.7241 29.4244 6.56599C29.8301 6.40789 30.1998 6.16949 30.5112 5.86507C30.8226 5.56066 31.0694 5.1965 31.2367 4.79443C31.404 4.39235 31.4884 3.96064 31.4848 3.52517C31.4515 2.6676 31.0874 1.85624 30.4689 1.26128C29.8504 0.666319 29.0255 0.333984 28.1673 0.333984C27.3091 0.333984 26.4842 0.666319 25.8657 1.26128C25.2472 1.85624 24.8831 2.6676 24.8498 3.52517C24.845 3.958 24.9274 4.38738 25.092 4.7877C25.2567 5.18803 25.5002 5.55112 25.8081 5.85533C26.1161 6.15953 26.4821 6.39864 26.8844 6.55839C27.2867 6.71813 27.7171 6.79526 28.1498 6.78517Z" fill="#2D2A24"></path>
                    <path d="M25.4854 13.7902V23.8352C25.4854 26.3102 25.0704 26.6502 23.4604 27.7352V28.0702H33.0904V27.7352C31.4804 26.6502 31.0904 26.3102 31.0904 23.8352V9.59521H23.1504V9.93021C24.6954 10.9452 25.4854 11.4302 25.4854 13.7902Z" fill="#2D2A24"></path>
                    <path d="M37.6503 4.2V23.835C37.6503 26.31 37.2353 26.65 35.6503 27.735V28.07H45.2803V27.735C43.6703 26.65 43.2803 26.31 43.2803 23.835V0H35.2803V0.34C36.8003 1.31 37.6503 1.835 37.6503 4.2Z" fill="#2D2A24"></path>
                    <path d="M49.6947 4.2V23.835C49.6947 26.31 49.2847 26.65 47.6947 27.735V28.07H57.3297V27.735C55.7147 26.65 55.3047 26.31 55.3047 23.835V0H47.3047V0.34C48.8347 1.31 49.6947 1.835 49.6947 4.2Z" fill="#2D2A24"></path>
                </svg>
            </div>
            <div class="flex justify-between">
                <span class="text-sm">Copyright 2024 - The Sill, Inc.</span>
                <div class="hidden md:block"><a href="https://app.impact.com/campaign-campaign-info-v2/The-Sill.brand" target="_blank" rel="noopener noreferrer nofollow" class="text-xs ml-4 hover:text-primary hover:italic font-medium"> Affiliate Program </a><a href="pages/terms-conditions" class="text-xs ml-4 hover:text-primary hover:italic font-medium"> Terms of Use </a><a href="pages/privacy-policy" class="text-xs ml-4 hover:text-primary hover:italic font-medium"> Privacy Policy </a><a href="pages/accessibility" class="text-xs ml-4 hover:text-primary hover:italic font-medium"> Accessibility </a><a href="pages/ccpa-request" class="text-xs ml-4 hover:text-primary hover:italic font-medium"> Do Not Sell My Info </a></div>
            </div>
        </div>
    </div>
        <!-- End Footer -->
    </div>
    <script data-n-head="ssr" src="https://connect.nosto.com/include/shopify-1506262" async></script>
    <script data-n-head="ssr" type="text/javascript">
        ! function () {
            var o = "nostojs";
            window[o] = window[o] || function (n) {
                (window[o].q = window[o].q || []).push(n)
            }
        }()
    </script>
    <script data-n-head="ssr" type="text/javascript">
        nostojs(o => o.setAutoLoad(!1))
    </script>
    <script data-n-head="ssr" src="../js.afterpay.com/afterpay-1.x.js" async></script>
    <script src="~/js/gtm-script.js"></script>
    <script src="~/js/text.js"></script>
    <script src="~/js/index.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
