@section Styles {
    <link rel="stylesheet" href="~/css/admin_dashboard.css" />
}
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="cards">
    <div class="card blue">
        <div class="card-icon">
            <i class="fas fa-user"></i>
        </div>
        <div class="card-content">
            <h3>Sign ups</h3>
            <p>@ViewBag.TotalUsers</p>
            <small>+25% from last month</small>
        </div>
    </div>
    <div class="card green">
        <div class="card-icon">
            <i class="fas fa-dollar-sign"></i>
        </div>
        <div class="card-content">
            <h3>Total Products</h3>
            <p>@ViewBag.TotalBlindBoxes</p>
            <small>+17.5% from last month</small>
        </div>
    </div>
    <div class="card red">
        <div class="card-icon">
            <i class="fas fa-phone"></i>
        </div>
        <div class="card-content">
            <h3>Total Payments</h3>
            <p>@ViewBag.Payments.....................</p>
            <small>&nbsp;</small>
        </div>
    </div>
</div>


<div class="chart-section">
    <h3>Bar Chart</h3>
    <canvas id="myChart"></canvas>
</div>

<div class="notifications">
    <h3>Notifications</h3>
    <ul>
        <li>New comment - 21 days ago</li>
        <li>New comment - 21 days ago</li>
        <li>New comment - 21 days ago</li>
        <li><a href="#">Show all</a></li>
    </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const ctx = document.getElementById("myChart").getContext("2d");
    const myChart = new Chart(ctx, {
        type: "bar",
        data: {
            labels: ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday"],
            datasets: [
                {
                    label: "# of Signups",
                    data: [12, 19, 3, 5, 2],
                    backgroundColor: [
                        "rgba(52, 152, 219, 0.6)",
                        "rgba(52, 152, 219, 0.6)",
                        "rgba(52, 152, 219, 0.6)",
                        "rgba(52, 152, 219, 0.6)",
                        "rgba(52, 152, 219, 0.6)",
                    ],
                    borderColor: [
                        "rgba(52, 152, 219, 1)",
                        "rgba(52, 152, 219, 1)",
                        "rgba(52, 152, 219, 1)",
                        "rgba(52, 152, 219, 1)",
                        "rgba(52, 152, 219, 1)",
                    ],
                    borderWidth: 1,
                },
            ],
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                },
            },
        },
    });
</script>
