@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/suggest.css" />
    <link rel="stylesheet" href="~/css/index.css" />
    <title>Easy-Care Subscription</title>
</head>
<body>
    <section class="subscription-section">
        <div class="subscription-container">
            <div class="image-container" style="width: 50%;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQB2fyimaH7vxwd46nNTNHoBrlILHZSCMS-MQ&s"
                     alt="Plants" />
            </div>
            <div class="content-container">
                <h1>Easy-Care Subscription</h1>
                <p>The gift that keeps on giving — no green thumb required</p>
                <button class="shop-now-btn">
                    <a style="text-decoration: none; color: white;" onclick="window.location.href='@Url.Action("Gift", "Product")'">SHOP NOW</a>
                </button>
                <p>or surprise yourself with blind box</p>
                <button class="blindbox-btn">
                    <a style="text-decoration: none; color: white;" onclick="window.location.href='@Url.Action("BlindBox", "Product")'">BLINDBOX SHOP</a>
                </button>
            </div>
        </div>
    </section>
</body>
</html>
