@model BlindBoxWebsite.DTO.AccountDTOs.ChangePasswordRequest

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GBOX Store</title>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/password-resets/password-reset-3/assets/css/password-reset-3.css">
    <style>
        .img-full-border {
            width: 90%;
            height: 100%;
            object-fit: cover;
        }
    </style>
</head>
<body>
    <div class="bg-gray-100 flex items-center justify-center h-screen">
        <div class="bg-white p-8 img-full-border rounded-lg shadow-lg max-w-sm w-full">
            <div class="flex items-center space-x-2 mb-6">
                <img src="~/images/Logo2_Website.jpg" alt="Lock Icon" class="rounded-full">
                <h1 class="text-xl font-semibold">Change Password</h1>
            </div>
            <p class="text-sm text-gray-600 mb-6">Update password for enhanced account security.</p>
            <form asp-action="ChangePassword" method="post">
                <input type="hidden" name="UserName" value="@Model.UserName" />

                <div>
                    <label asp-for="OldPassword" class="text-sm font-medium text-gray-700 block mb-2">Current Password *</label>
                    <input type="password" asp-for="OldPassword" class="password-input form-input block w-full border border-gray-300 rounded-md shadow-sm" >
                    <span asp-validation-for="OldPassword" class="text-danger"></span>

                </div>
                <div>
                    <label asp-for="NewPassword" class="text-sm font-medium text-gray-700 block mb-2">New Password *</label>
                    <input type="password" asp-for="NewPassword" class="password-input form-input block w-full border border-gray-300 rounded-md shadow-sm" >
                    <span asp-validation-for="NewPassword" class="text-danger"></span>

                </div>
                <div>
                    <label asp-for="ConfirmPassword" class="text-sm font-medium text-gray-700 block mb-2">Confirm New Password *</label>
                    <input type="password" asp-for="ConfirmPassword" class="password-input form-input block border w-full border-gray-300 rounded-md shadow-sm" >
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                </div>
                <div class="flex justify-between">
                    <button type="submit" class="px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-md hover:bg-blue-700 focus:outline-none focus:ring focus:border-blue-300">Apply Changes</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
