@model BlindBoxWebsite.DTO.AccountDTOs.ResetPasswordRequest

<h2>Reset Password</h2>
<form asp-action="ResetPassword" method="post">
    <input type="hidden" name="Token" value="@Model.Token" />
    <input type="hidden" name="Email" value="@Model.Email" />

    <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" class="form-control" id="newPassword" name="NewPassword" required />
    </div>
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
