@model BlindBoxWebsite.ViewModels.VnPayRequestModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Checkout - GBOX Store</title>
    <link rel="stylesheet" href="~/css/index.css">
    <style>
        .checkout-container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
        }

        .row-container {
            display: flex;
            justify-content: space-between;
            gap: 100px;
        }

        .contact-shipping-info,
        .order-summary {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 10px;
            flex: 1;
        }

        .contact-shipping-info {
            max-width: 50%;
        }

        .order-summary {
            max-width: 50%;
            background-color: #f1f1f1;
            padding: 20px;
            border-radius: 8px;
        }

        .mb-3 {
            margin-bottom: 15px;
        }

        .product-item {
            display: flex;
            align-items: center;
            margin-bottom: 15px;
        }

            .product-item img {
                max-width: 170px;
                margin-right: 15px;
            }

        .product-details {
            font-size: 14px;
        }

        .discount-link {
            color: #16a085;
            text-decoration: none;
        }

        .summary-totals {
            margin-top: 25px;
            font-size: 20px;
        }

        .total-amount {
            font-weight: bold;
        }

        .continue-to-payment-btn {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #16a085;
            color: white;
            border: none;
            border-radius: 5px;
            text-align: center;
            font-size: 16px;
            cursor: pointer;
        }

            .continue-to-payment-btn:hover {
                background-color: #027f51;
            }

        .contact-info, .shipping-address {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
        }

            .contact-info h2, .shipping-address h2 {
                margin-bottom: 15px;
                font-size: 1.5rem;
                font-weight: bold;
            }

        input[type="text"], input[type="email"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 1rem;
        }

            input[type="text"]:focus, input[type="email"]:focus {
                border-color: #007bff;
                outline: none;
            }

        .shipping-address {
            display: flex;
            flex-direction: column;
        }

            .shipping-address input {
                margin-bottom: 15px;
            }

        button {
            padding: 10px;
            width: 100%;
            background-color: #16a085;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

            button:hover {
                background-color: #027f51;
            }

        .error-message{
            color: red;
        }
    </style>
</head>
<body>
    <div class="checkout-container">
        <div class="checkout-content">
            <span style="display: none">@ViewBag.Username</span>
            <form asp-action="CreatePaymentUrl" method="post">
                <div class="row-container">
                    <!-- Contact and Shipping Info Section -->
                    <div class="contact-shipping-info">
                        <h3>Contact information</h3>
                        <div class="mb-3">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="error-message"></span>
                        </div>

                        <h3>Shipping Address</h3>
                        <div class="mb-3">
                            <input asp-for="FullName" class="form-control" type="text" placeholder="Your Name" />
                            <span asp-validation-for="FullName" class="error-message"></span>
                        </div>

                        <div class="mb-3">
                            <input asp-for="City" class="form-control" type="text" placeholder="City" />
                            <span asp-validation-for="City" class="error-message"></span>
                        </div>

                        <div class="mb-3">
                            <input asp-for="District" class="form-control" type="text" placeholder="District" />
                            <span asp-validation-for="District" class="error-message"></span>
                        </div>

                        <div class="mb-3">
                            <input asp-for="Address" class="form-control" type="text" placeholder="Address" />
                            <span asp-validation-for="Address" class="error-message"></span>
                        </div>

                        <div class="mb-3">
                            <input asp-for="Phone" class="form-control" type="text" placeholder="Phone Number" />
                            <span asp-validation-for="Phone" class="error-message"></span>
                        </div>

                        <a onclick="document.location.href='@Url.Action("GiftSuggest", "Quiz")'" class="back-to-cart" style="text-decoration: underline; color: #16a085">← Trở lại giỏ hàng</a>
                    </div>

                    <!-- Order Summary Section -->
                    <div class="order-summary">
                        <h2>Order summary</h2>
                        <div class="product-item">
                            <img src="~/images/blindbox_coca.jpg" alt="Suggest" />
                            <div class="product-details">
                                <h3>Blind Box</h3>
                                <p>200.000 VND</p>
                            </div>
                        </div>
                        <a href="#" class="discount-link">Có mã giảm giá? Nhập ngay tại đây ></a>
                        <div class="summary-totals">
                            <p>Tổng cộng: <span>200.000 VND</span></p>
                            <p>Phí vận chuyển: <span>--</span></p>
                            <p>Thuế: <span>--</span></p>
                            <p class="total-amount">Tổng: <span>200.000 VND</span></p>
                        </div>

                        <!-- Hidden fields for order details -->
                        <input type="hidden" asp-for="Amount" value="200000" />
                        <input type="hidden" asp-for="OrderDescription" value="BlindBox 1" />
                        <input type="hidden" asp-for="OrderType" value="BlindBox Payment" />
                        <input type="hidden" asp-for="BlindBoxId" value="1" />
                        <input type="hidden" asp-for="CreateDate" value="@DateTime.Now" />

                        <button type="submit" class="continue-to-payment-btn" style="color: white">
                            Continue payment
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>

</html>
