@using BlindBoxWebsite.ViewModels
@model VnPayResponseModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/thanhtoan_success.css">
    <link rel="stylesheet" href="~/css/index.css">
    <title>Transaction Success</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>GBOX</h1>
            <div class="profile">
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png"
                     alt="User Profile" />
                <span>@ViewBag.Username</span>
            </div>
        </div>

        <h2 class="success-message">Xin chúc mừng!</h2>

        <div class="transaction-details">
            <p style="margin-bottom: 25px;"><span>Giao dịch thành công</span></p>
            <p style="margin-bottom: 25px;">Sản phẩm được chọn: <span>@Model.OrderDescription</span></p> <!-- Sản phẩm động -->
            <p style="margin-bottom: 25px;">Phương thức thanh toán: <span>@Model.PaymentMethod</span></p> <!-- Phương thức thanh toán động -->
            <p style="margin-bottom: 25px;">ID giao dịch: <span>@Model.TransactionId</span></p> <!-- ID giao dịch động --> 
        </div>

        <div class="back-button">
            <button class="btn" onclick="goToHomePage()">Trở lại trang chủ</button>
        </div>
    </div>

    <script>
        function goToHomePage() {
          window.location.href = "/";
        }
    </script>
</body>
</html>
