@using BlindBoxWebsite.ViewModels
@model VnPayResponseModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/thanhtoan_success.css">
    <link rel="stylesheet" href="~/css/index.css">
    <title>Transaction Success - GBOX Store</title>
    <style>
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #eee;
            padding-bottom: 10px;
            margin-bottom: 30px;
        }

            .header h1 {
                font-size: 28px;
                font-weight: bold;
                color: #333;
            }

            .header .profile {
                display: flex;
                align-items: center;
            }

        .profile img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
            object-fit: cover;
        }

        .profile span {
            margin-left: 10px;
            font-size: 16px;
            color: #555;
        }

        .buttons {
            display: flex;
            gap: 15px;
            justify-content: center;
        }

        .container {
            text-align: center;
            margin: 50px auto;
            padding: 20px;
            width: 60%;
            background: white;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
        }

        .home {
            background-color: #0daa70;
        }

        .btn:hover {
            background-color: #027f51;
        }

        .success-image {
            width: 200px;
            height: auto;
            margin-top: -85px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>GBOX</h1>
            <div class="profile">
                <span>@ViewBag.Username</span>
                <img src="https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png"
                     alt="User Profile" />
            </div>
        </div>
        <div class="success-message">
            <img src="~/images/paymentsuccess.jpg" alt="Success Image" class="success-image">
            <h2>Chúc mừng quý khách đã đặt hàng thành công!</h2>
            <p>Xin chân thành cảm ơn quý khách đã tin tưởng sử dụng dịch vụ GBOX. Chi tiết đơn hàng đã được gửi qua email của bạn, nếu có bất kỳ thắc mắc nào, vui lòng liên hệ bộ phận chăm sóc khách hàng của chúng tôi.</p>
        </div>
        <div class="buttons">
            <button onclick="location.href='/'" class="btn home">Trang chủ</button>
        </div>
    </div>
</body>
</html>
